@using AgendaPositiva.Web.Features.Commons
@using AgendaPositiva.Web.Features.Commons.Views
@{
    ViewData[index: "MainClass"] = "site-main--narrow";
}

<div class="narrow-container">
    <h1>Verificación de Inscripción</h1>

    <form action="/admin/inscripciones/formulario/verificacion" method="post">
        <label for="tipoIdentificacion">Tipo de Identificación:</label>
        <select id="tipoIdentificacion" name="tipoIdentificacion" required>
            @foreach (TipoIdentificacion tipo in Enum.GetValues<TipoIdentificacion>())
            {
                <option value="@tipo">@tipo.Humanize()</option>

            }
        </select>


        <label for="numeroIdentificacion">Número de Identificación:</label>
        <input type="text" id="numeroIdentificacion" name="numeroIdentificacion" required>

        <button type="submit" class="btn btn--primary">Continuar</button>
    </form>
</div>